<%
    let posts = site.posts;
    posts.data.sort((a, b) => b.date - a.date);
%>
<div id="archives">
    <% if (theme.search.enable) { %>
    <input id="search-bar" class="input" placeholder="搜索" v-model="rawSearch" />
    <% } %>
    <div id="timeline-wrap" ref="timeline">
        <% posts.reverse().forEach((post, id) => { %>
        <div class="timeline" data-title="<%- post.title.toLowerCase().replace(/\s+/g, "") %>">
            <div class="timeline-tail"></div>
            <div class="timeline-content">
                <div class="item-time"><%= date(post.date, "YYYY/M/D") %></div>
                <a href="<%- url_for(post.path) %>">
                    <h3><%= post.title %></h3>
                </a>
                <div class="info">
                    <% if (post.categories && post.categories.data.length !== 0) { %>
                        <%
                            function getStringHash(str) {
                                let hash = 0;
                                for (let i = 0; i < str.length; i++) {
                                    const charCode = str.charCodeAt(i);
                                    // 简单哈希算法（确保相同字符串哈希一致，减少冲突）
                                    hash = ((hash << 5) - hash + charCode) | 0; // 转为32位整数避免溢出
                                }
                                return hash < 0 ? -hash : hash;
                            }
                            const colors = theme.colors.filter((color) => color);
                            let id = getStringHash(post.categories.data[0].name) % colors.length;
                        %>
                    <span class="category">
                        <a href="<%- url_for(post.categories.data[0].path) %>" style="color: <%- colors[id]%>">
                            <span class="icon">
                                <i class="fa-solid fa-bookmark fa-fw"></i>
                            </span>
                            <%= post.categories.data[0].name %>
                        </a>
                    </span>
                    <% } %>
                    <% if (post.tags && post.tags.data.length !== 0) { %>
                    <span class="tags">
                        <span class="icon">
                            <i class="fa-solid fa-tags fa-fw"></i>
                        </span>
                        <% let prev; %>
                        <% post.tags.data.forEach((tag) => { %>
                        <span class="tag">
                            <%
                                const colors = theme.colors.filter((color) => color !== prev);
                                function getStringHash(str) {
                                    let hash = 0;
                                    for (let i = 0; i < str.length; i++) {
                                        const charCode = str.charCodeAt(i);
                                        // 简单哈希算法（确保相同字符串哈希一致，减少冲突）
                                        hash = ((hash << 5) - hash + charCode) | 0; // 转为32位整数避免溢出
                                    }
                                    return hash < 0 ? -hash : hash;
                                }
                                let id = getStringHash(tag.name) % colors.length;
                                prev = colors[id];
                            %>
                            <a href="<%- url_for(tag.path) %>" style="color: <%- colors[id] %>">
                                <%= tag.name %>
                            </a>
                        </span>
                        <% }); %>
                    </span>
                    <% } %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
