<footer id="footer">
    <div id="footer-wrap">
        <div>
            &copy; <%= theme.footer.since %> - <%= date(Date.now(), "YYYY") %> <%= config.title %>
            <i class="fa-solid fa-font-awesome fa-fw"></i>
            <a href= "<%= config.url %>">&commat;<%= config.author %></a>
            <br>
            总访问量 <span id="busuanzi_value_site_pv"></span> 次 | 总访客数 <span id="busuanzi_value_site_uv"></span> 人次
        </div>
        <div>
            Based on the <a href="https://hexo.io">Hexo Engine</a> &amp;
            <a href="https://github.com/theme-particlex/hexo-theme-particlex">ParticleX Theme</a>
        </div>
        <% if (theme.footer.ICP.enable) { %>
        <div>
            备案号：
            <% if (theme.footer.ICP.link) { %>
            <a href="<%- url_for(theme.footer.ICP.link) %>"><%= theme.footer.ICP.code %></a>
            <% } else { %>
            <%= theme.footer.ICP.code %>
            <% } %>
        </div>
        <% } %>
    </div>
</footer>