<div class="article">
    <!--文章标题-->
    <div>
        <h1><%= page.title %></h1>
    </div>

    <!--每篇文章开头的信息-->
    <div class="info">
        <!--日期-->
        <span class="date">
            <span class="icon">
                <i class="fa-solid fa-calendar fa-fw"></i>
            </span>
            <%= date(page.date, "YYYY/M/D") %>
        </span>
        <!--判断是否有分类-->
        <% if (page.categories && page.categories.data.length !== 0) { %>
        <span class="category">
            <a href="<%- url_for(page.categories.data[0].path) %>">
                <span class="icon">
                    <i class="fa-solid fa-bookmark fa-fw"></i>
                </span>
                <%= page.categories.data[0].name %>
            </a>
        </span>
        <% } %>
        <!--判断是否有标签-->
        <% if (page.tags && page.tags.data.length !== 0) { %>
        <span class="tags">
            <span class="icon">
                <i class="fa-solid fa-tags fa-fw"></i>
            </span>
            <% let prev; %>
            <% page.tags.data.forEach((tag) => { %>
            <span class="tag">
                <%
                    function getStringHash(str) {
                        let hash = 0;
                        for (let i = 0; i < str.length; i++) {
                            const charCode = str.charCodeAt(i);
                            // 简单哈希算法（确保相同字符串哈希一致，减少冲突）
                            hash = ((hash << 5) - hash + charCode) | 0; // 转为32位整数避免溢出
                        }
                        return hash;
                    }
                    const colors = theme.colors.filter((color) => color !== prev);
                    let id = getStringHash(tag.name) % 192;
                    prev = colors[id];
                %>
                <a href="<%- url_for(tag.path) %>" style="color: <%- colors[id] %>">
                    <%= tag.name %>
                </a>
            </span>
            <% }); %>
        </span>
        <% } %>

        <!--本文的字数统计-->
        <span style="margin-right: 15px">
            <span class="icon">
                <i class="fa-solid fa-pen"></i>
            </span>
            <span><%= page.charCount %> 字 | <%= page.cbCount %> 代码块</span>
        </span>

        <!--本文的阅读量-->
        <span style="margin-right: 15px">
            <span class="icon">
                <i class="fa-solid fa-eye"></i>
            </span>
            <span id="busuanzi_container_page_pv">
                <span id="busuanzi_value_page_pv"></span>
            </span>
        </span>
    </div>

    <!--加密配置，如果启用加密，这执行加密逻辑-->
    <% if (theme.crypto.enable && typeof page.secret !== "undefined") { %>
    <% const CryptoJS = getCryptoJS(); %>
    <input
        id="crypto"
        :class="['input', cryptoStatus]"
        :disabled="cryptoStatus === 'success'"
        ref="crypto"
        placeholder="文章被加密，请输入密码"
        data-encrypted="<%- CryptoJS.AES.encrypt(page.content, page.secret).toString() %>"
        data-shasum="<%- CryptoJS.SHA256(page.content).toString() %>"
        v-model="crypto"
    />
    <transition name="fade">
        <div class="content" ref="content" v-show="cryptoStatus === 'success'"></div>
    </transition>
    <!--否则直接显示原文-->
    <% } else { %>
    <div class="content" v-pre>
        <%- page.content %>
    </div>
    <% } %>

    <!--如果启用文章的评论，显示评论逻辑-->
    <% if (page.comments) { %>
    <% if (theme.gitalk.enable) { %>
    <div id="comment">
        <div id="gitalk-container"></div>
    </div>
    <% } %>
    <% if (theme.giscus.enable) { %>
    <div id="comment">
        <div id="giscus-container" class="giscus"></div>
    </div>
    <% } %>
    <% if (theme.waline.enable) { %>
    <div id="comment">
        <div id="waline-container"></div>
    </div>
    <% } %>
    <% if (theme.twikoo.enable) { %>
    <div id="comment">
        <div id="twikoo-container"></div>
    </div>
    <% } %>
    <% } %>
</div>
